.avatar-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    justify-content: flex-start;
}

.image-wrapper {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.avatar-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.btn-upload-avatar {
    background-color: rgb(188, 239, 255);
    width: 50%;
    margin-top: 30px;
    padding: 3px;
    border-radius: 25px;
}

.pill-info {
    background-color: #fff;
    color:black;
    border-radius: 7px;
    font-size: 11px;
    width: fit-content;
    padding: 4px;
    font-weight: bold;
    margin: 4px;
}

.pill-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}