.modal-container {
    padding: 25px;
    background-color: #fff;
}

.edit-header {
    display: flex;
    justify-content: flex-start;
    background-color: #ffef93;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: 1px solid darkblue;
}