.customButton {
    color: #4467ff;
    background: rgba(0,0,0,0);
    border: none;
    text-align: center;
    width: 80px;
    height: 100%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}